.env
ssh
ssh.pub
Bike.bacpac
BikeStores.bak
BikeStores.db
BikeStores2.db
__pycache__/
*.py[cod]
*$py.class
convert.py
data
agno_SQLTool_cache
agent_sessions.db
agent_sessions.db-shm
agent_sessions.db-wal