.env
ssh
ssh.pub
Bike.bacpac
BikeStores.bak
BikeStores.db
BikeStores2.db
__pycache__/
*.py[cod]
*$py.class
convert.py
data
learning
agno_SQLTool_cache
agent_sessions.db
knowledge_contents.db
knowledge_contents.db-shm
knowledge_contents.db-wal
agent_sessions.db-shm
agent_sessions.db-wal
test_check_lancedb_count.py
test_schema_search.py